# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
*.egg-info/

# dbt
dbt/nhs_ae/target/
dbt/nhs_ae/dbt_packages/
dbt/nhs_ae/logs/
profiles.yml

# Data — never commit source files to Git
data/raw/*.csv
data/raw/*.xlsx
data/raw/*.xls
data/raw/*.zip

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
